body {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
}
body .container-xxl {
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
  background-color: black;
  padding-left: 0px;
  padding-right: 0px;
  /*NAVBAR*/
  /*PERFIL*/
  /*FOOTER*/
}
body .container-xxl .nav-contenedor {
  display: block;
  height: auto;
}
body .container-xxl #nav-main {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: black;
}
body .container-xxl #nav-main #navbarNavDropdown {
  justify-content: right;
}
body .container-xxl #nav-main .marca {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: auto;
  width: auto;
}
body .container-xxl #nav-main .marca .navbar-brand {
  display: flex;
  padding: 0px;
}
body .container-xxl #nav-main .marca .navbar-brand h1 {
  display: flex;
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0px;
}
body .container-xxl #nav-main .marca h2 {
  display: flex;
  color: silver;
  font-size: 0.8rem;
  letter-spacing: 3.4px;
  margin-left: 12px;
}
body .container-xxl #nav-main .nav-item {
  padding-left: 30px;
}
body .container-xxl #nav-main .nav-link {
  display: flex;
  color: whitesmoke;
  font-weight: 400;
  font-size: 1rem;
}
body .container-xxl #nav-main .navbar-toggler {
  font-size: 25px;
}
body .container-xxl #nav-main .navbar-toggler:focus, body .container-xxl #nav-main .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}
body .container-xxl #nav-main .navbar-collapse {
  z-index: 100;
  background-color: black;
  padding: 5px;
  justify-content: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body .container-xxl #nav-main i.fas.fa-bars {
  color: salmon;
}
body .container-xxl .perfiles-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: 0px auto;
  gap: 10px;
  /*PORTADA*/
  /*PERFIL*/
  /*FOTOS*/
}
body .container-xxl .perfiles-main .portada {
  width: 100%;
}
body .container-xxl .perfiles-main .portada #img-portada {
  width: 100%;
  height: auto;
  max-height: 600px;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body .container-xxl .perfiles-main .perfil-1 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  flex-grow: 1;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  border: 1px solid deeppink;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
body .container-xxl .perfiles-main .perfil-1 .titulo {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  order: 1;
  flex-basis: 1%;
  padding-left: 40px;
}
body .container-xxl .perfiles-main .perfil-1 .nac-eda {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 7%;
  order: 2;
  justify-content: start;
  align-items: center;
  padding: 0px;
  margin: 0px auto;
}
body .container-xxl .perfiles-main .perfil-1 .nac-eda .list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  text-align: left;
  padding: 0px;
  margin: 0px auto;
}
body .container-xxl .perfiles-main .perfil-1 .nac-eda .list .dato {
  font-weight: Bold;
}
body .container-xxl .perfiles-main .perfil-1 .nac-eda .list .edad {
  font-weight: Bold;
}
body .container-xxl .perfiles-main .perfil-1 .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 14%;
  order: 3;
}
body .container-xxl .perfiles-main .perfil-1 .contact h2 {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 700;
  color: whitesmoke;
  margin: 0px;
}
body .container-xxl .perfiles-main .perfil-1 .contact label {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: 500;
  padding-right: 10px;
  color: #0df053;
  cursor: pointer;
}
body .container-xxl .perfiles-main .perfil-1 .contact .btn-wsp {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .container-xxl .perfiles-main .perfil-1 .contact .icon-whatsapp {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #0df053;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
body .container-xxl .perfiles-main .perfil-1 .ph-name {
  display: flex;
  justify-content: end;
  padding-right: 40px;
  align-items: center;
  margin: 0px;
  flex-grow: 1;
  flex-basis: 23%;
  order: 4;
}
body .container-xxl .perfiles-main .fotos-grupo1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
body .container-xxl .perfiles-main .fotos-grupo1 .fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
body .container-xxl .perfiles-main .fotos-grupo1 .img-perfil {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body .container-xxl .perfiles-main .fotos-grupo2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body .container-xxl .perfiles-main .fotos-grupo2 .fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
body .container-xxl .perfiles-main .fotos-grupo2 .img-perfil {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
body .container-xxl .pie-pagina {
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 8em;
  margin-top: 40px;
}
body .container-xxl .pie-pagina .grupo-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 8em;
  margin: auto;
  padding: 20px 0px;
}
body .container-xxl .pie-pagina .grupo-1 a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  color: black;
  background-color: grey;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
body .container-xxl .pie-pagina .grupo-2 {
  display: flex;
  font-size: 15px;
  background-color: RGB(48, 49, 52);
  color: white;
  height: 40px;
  justify-content: center;
  align-items: center;
}

/*----------RESPONSIVE----------*/
/*NABVAR*/
@media (max-width: 768px) {
  body .container-xxl #nav-main .marca .navbar-brand h1 {
    display: flex;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  body .container-xxl #nav-main .marca h2 {
    display: flex;
    color: silver;
    font-size: 0.5rem;
    letter-spacing: 4.1px;
    margin-left: 2px;
  }

  body .container-xxl #nav-main .navbar-toggler {
    padding: 0px;
    font-size: 2rem;
  }

  body .container-xxl #nav-main .nav-item {
    padding-left: 0px;
  }

  body .container-xxl #nav-main .nav-link {
    justify-content: center;
    border-bottom: 1px solid dimgray;
  }
}
/*HOVER:NABVAR*/
@media (min-width: 992px) {
  body .container-xxl #nav-main .nav-link:hover {
    color: salmon;
    border-bottom: 2px solid salmon;
    border-top: 2px solid salmon;
    padding-bottom: 6px;
    padding-top: 6px;
  }
}
@media (max-width: 576px) {
  body .container-xxl #nav-main .nav-link:hover {
    color: salmon;
  }
}
/*HOVER-PERFILES-BTN-WSP*/
@media (min-width: 992px) {
  body .container-xxl .perfiles-main .perfil-1 .contact label:hover {
    color: white;
  }

  body .container-xxl .perfiles-main .perfil-1 .contact .icon-whatsapp:hover {
    background: #fff;
    color: #0df053;
  }
}
/*PERFILES*/
@media (max-width: 768px) {
  body .container-xxl .perfiles-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding-top: 0px;
    gap: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    /*PORTADA*/
    /*PERFIL*/
    /*FOTOS*/
  }
  body .container-xxl .perfiles-main .portada {
    width: 100%;
  }
  body .container-xxl .perfiles-main .portada #img-portada {
    width: 100%;
    height: auto;
    max-height: 600px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  body .container-xxl .perfiles-main .perfil-1 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    flex-grow: 2;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border: 1px solid deeppink;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  }
  body .container-xxl .perfiles-main .perfil-1 .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    order: 1;
    flex-basis: 100%;
    padding: 0px;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 100%;
    order: 2;
    justify-content: start;
    align-items: center;
    padding: 0px;
    margin: 0px auto;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px;
    font-size: 14px;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list li {
    margin-right: 0.75em;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list .dato {
    font-weight: Bold;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list .edad {
    font-weight: Bold;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 100%;
    order: 3;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 0px;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #0df053;
    cursor: pointer;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact .btn-wsp {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact .icon-whatsapp {
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #0df053;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  }
  body .container-xxl .perfiles-main .perfil-1 .ph-name {
    display: flex;
    justify-content: center;
    padding-right: 0px;
    align-items: center;
    margin: 0px;
    font-size: 12px;
    flex-grow: 1;
    flex-basis: 1000%;
    order: 4;
  }
  body .container-xxl .perfiles-main .fotos-grupo1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  body .container-xxl .perfiles-main .fotos-grupo1 .fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  body .container-xxl .perfiles-main .fotos-grupo1 .img-perfil {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  body .container-xxl .perfiles-main .fotos-grupo2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  body .container-xxl .perfiles-main .fotos-grupo2 .fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  body .container-xxl .perfiles-main .fotos-grupo2 .img-perfil {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
@media (max-width: 576px) {
  body .container-xxl .perfiles-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding-top: 0px;
    gap: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    /*PORTADA*/
    /*PERFIL*/
    /*FOTOS*/
  }
  body .container-xxl .perfiles-main .portada {
    width: 100%;
  }
  body .container-xxl .perfiles-main .portada #img-portada {
    width: 100%;
    height: auto;
    max-height: 600px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  body .container-xxl .perfiles-main .perfil-1 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    flex-grow: 2;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border: 1px solid deeppink;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  }
  body .container-xxl .perfiles-main .perfil-1 .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    order: 1;
    flex-basis: 100%;
    padding: 0px;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 100%;
    order: 2;
    justify-content: start;
    align-items: center;
    padding: 0px;
    margin: 0px auto;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 0px;
    font-size: 14px;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list li {
    margin-right: 0.75em;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list .dato {
    font-weight: Bold;
  }
  body .container-xxl .perfiles-main .perfil-1 .nac-eda .list .edad {
    font-weight: Bold;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 100%;
    order: 3;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 0px;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #0df053;
    cursor: pointer;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact .btn-wsp {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .container-xxl .perfiles-main .perfil-1 .contact .icon-whatsapp {
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #0df053;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  }
  body .container-xxl .perfiles-main .perfil-1 .ph-name {
    display: flex;
    justify-content: center;
    padding-right: 0px;
    align-items: center;
    margin: 0px;
    font-size: 12px;
    flex-grow: 1;
    flex-basis: 1000%;
    order: 4;
  }
  body .container-xxl .perfiles-main .fotos-grupo1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  body .container-xxl .perfiles-main .fotos-grupo1 .fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  body .container-xxl .perfiles-main .fotos-grupo1 .img-perfil {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  body .container-xxl .perfiles-main .fotos-grupo2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  body .container-xxl .perfiles-main .fotos-grupo2 .fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  body .container-xxl .perfiles-main .fotos-grupo2 .img-perfil {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
/*FOOTER*/
@media (min-width: 992px) {
  body .container-xxl .pie-pagina .grupo-1 a:first-child:hover {
    border: 1px solid white;
    color: #C13584;
    background-color: white;
  }

  body .container-xxl .pie-pagina .grupo-1 a:nth-child(2):hover {
    border: 1px solid white;
    color: blue;
    background-color: white;
  }

  body .container-xxl .pie-pagina .grupo-1 a:nth-child(3):hover {
    border: 1px solid white;
    color: red;
    background-color: white;
  }

  body .container-xxl .pie-pagina .grupo-1 a:nth-child(4):hover {
    border: 1px solid white;
    color: #00acee;
    background-color: white;
  }
}
@media (max-width: 768px) {
  body .container-xxl .pie-pagina {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=estilomodel%20copy.css.map */
